@import "../App.scss";

.featured-product {
    padding-bottom: 50px;

    h1 {
        color: #000;
        font-weight: 900;
        font-size: 27px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;

        @media (min-width: 576px) {
            font-size: 40px;
        }
    }

    .product-slider {
        .card {
            float: left;
            padding: 5px;
            margin: 0;
            background: none;
            border-radius: 0 !important;
            border: 0;
            width: 100% !important;

            .card-body {
                padding: 0;
                background: #fff;
                position: relative;
                background: #dfdfdf;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }

                .button-group {
                    position: absolute;
                    left: 0;
                    bottom: 15px;
                    width: 100%;

                    .btn {
                        transition: 0.3s all;
                    }

                    .icon-btn {
                        padding: 0px 8px;
                        color: #000;
                        background: #fff;
                        border-radius: 0;
                        height: 30px;
                    }

                    .content-btn {
                        padding: 4px 8px;
                        color: #000;
                        background: #fff;
                        border-radius: 0;
                        font-size: 13px;
                        font-weight: 400;
                        font-family: "Roboto", sans-serif;
                        height: 30px;
                    }

                    .btn:hover {
                        color: #fff;
                        background: #000;
                    }
                }

                @media (min-width: 768px) {
                    height: 247px;
                }

                @media (min-width: 992px) {
                    height: 350px;
                }

                @media (min-width: 1210px) {
                    height: 315px;
                }
            }

            // Open quick view button on hober card-body
            .card-body:hover .quick-view-btn {
                opacity: 1 !important;
            }

            // Card Footer
            .card-footer {
                border: 0;
                padding: 0;
                padding-top: 5px;
                background: #fff;

                a {
                    text-decoration: none;
                    .name {
                        color: #555;
                        font-size: 13px;
                        font-weight: 400;
                        margin-bottom: 3px;
                        font-family: "Roboto", sans-serif;
                    }

                    .pricing {
                        p {
                            color: $danger-color;
                            font-size: 15px;
                            font-weight: 500;
                            margin-bottom: 0;
                            font-family: "Roboto", sans-serif;
                        }
                        del {
                            color: #555;
                            font-size: 15px;
                            font-weight: 400;
                            margin-bottom: 0;
                            font-family: "Roboto", sans-serif;
                        }
                    }
                }
            }

            @media (min-width: 576px) {
                padding: 15px;
            }
        }

        .prev-btn {
            position: absolute;
            top: 45%;
            left: 8px;
            padding: 0px 1px;
            background: $secondary-color;

            @media (min-width: 576px) {
                left: -15px;
            }

            @media (min-width: 992px) {
                left: -30px;
            }
        }

        .next-btn {
            position: absolute;
            top: 45%;
            right: 8px;
            padding: 0px 1px;
            background: $secondary-color;

            @media (min-width: 576px) {
                right: -15px;
            }

            @media (min-width: 992px) {
                right: -30px;
            }
        }
    }

    @media (min-width: 576px) {
        padding-bottom: 80px;
    }
}
