.single-order {
    overflow: hidden;
    .card-body {
        // Short info
        .short-info {
            padding: 15px;
            margin: auto;
            text-align: center;
            border: 1px solid #dfdfdf;

            p {
                color: #000;
                font-size: 13px;
                margin-bottom: 3px;
                font-family: "Roboto", sans-serif;

                span {
                    color: #555;
                }
            }
        }

        // Message
        .message {
            margin-bottom: 15px;
            padding: 10px 15px;

            p {
                color: #fff;
                font-size: 13px;
                margin-bottom: 0;
                margin-top: 3px;
            }
        }

        // Order Details
        .order-details {
            p {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 5px;
                text-transform: capitalize;
                font-family: "Roboto", sans-serif;

                span {
                    font-size: 13px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    font-family: "Roboto", sans-serif;
                    text-transform: capitalize !important;
                }
            }
        }

        // Addresses
        .addresses {
            p {
                color: #555;
                font-size: 14px;
                margin-bottom: 0;
                font-family: "Roboto", sans-serif;
            }
        }
    }
    @media (min-width: 992px) {
        width: 800px;
        margin: auto;
    }
}
